USE [master]
GO
/****** Object:  Database [MyFirstDatabase]    Script Date: 2023-11-29 22:39:52 ******/
CREATE DATABASE [MyFirstDatabase]
GO
USE [MyFirstDatabase]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 2023-11-29 22:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Alias] [varchar](60) NOT NULL,
	[FirstName] [nvarchar](60) NOT NULL,
	[LastName] [nvarchar](60) NOT NULL,
 CONSTRAINT [Players_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2023-11-29 22:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [Roles_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 2023-11-29 22:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](60) NULL,
	[WorldRanking] [int] NOT NULL,
 CONSTRAINT [Teams_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerContracts]    Script Date: 2023-11-29 22:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerContracts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
 CONSTRAINT [PlayerContracts_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PlayerInfo]    Script Date: 2023-11-29 22:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [dbo].[PlayerInfo] AS

SELECT Players.Alias AS 'Alias', Roles.Name AS 'Role Name', Teams.Name AS 'Team Name'
FROM PlayerContracts
JOIN Players ON PlayerContracts.PlayerId = Players.Id
JOIN Roles ON PlayerContracts.RoleId = Roles.Id
JOIN Teams ON PlayerContracts.TeamId = Teams.Id
GO
SET IDENTITY_INSERT [dbo].[PlayerContracts] ON 

INSERT [dbo].[PlayerContracts] ([Id], [PlayerId], [RoleId], [TeamId]) VALUES (1, 2, 1, 1)
INSERT [dbo].[PlayerContracts] ([Id], [PlayerId], [RoleId], [TeamId]) VALUES (2, 5, 2, 1)
INSERT [dbo].[PlayerContracts] ([Id], [PlayerId], [RoleId], [TeamId]) VALUES (3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[PlayerContracts] OFF
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([Id], [Alias], [FirstName], [LastName]) VALUES (1, N'karrigan', N'Finn', N'Andersen')
INSERT [dbo].[Players] ([Id], [Alias], [FirstName], [LastName]) VALUES (2, N'rain', N'HÃ¥vard', N'Nygaard')
INSERT [dbo].[Players] ([Id], [Alias], [FirstName], [LastName]) VALUES (3, N'Twistzz', N'Russel', N'Van Dulken')
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'AWPer')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'In-game Leader')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Rifler')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Id], [Name], [WorldRanking]) VALUES (1, N'FaZe', 1)
INSERT [dbo].[Teams] ([Id], [Name], [WorldRanking]) VALUES (2, N'Vitality', 2)
INSERT [dbo].[Teams] ([Id], [Name], [WorldRanking]) VALUES (3, N'MOUZ', 3)
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
/****** Object:  Index [PlayerContracts_pk2]    Script Date: 2023-11-29 22:39:52 ******/
ALTER TABLE [dbo].[PlayerContracts] ADD  CONSTRAINT [PlayerContracts_pk2] UNIQUE NONCLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Players_pk2]    Script Date: 2023-11-29 22:39:52 ******/
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [Players_pk2] UNIQUE NONCLUSTERED 
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Roles_pk2]    Script Date: 2023-11-29 22:39:52 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [Roles_pk2] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Teams_pk2]    Script Date: 2023-11-29 22:39:52 ******/
ALTER TABLE [dbo].[Teams] ADD  CONSTRAINT [Teams_pk2] UNIQUE NONCLUSTERED 
(
	[WorldRanking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlayerContracts]  WITH CHECK ADD  CONSTRAINT [PlayerContracts_Players_Id_fk] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([Id])
GO
ALTER TABLE [dbo].[PlayerContracts] CHECK CONSTRAINT [PlayerContracts_Players_Id_fk]
GO
ALTER TABLE [dbo].[PlayerContracts]  WITH CHECK ADD  CONSTRAINT [PlayerContracts_Roles_Id_fk] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[PlayerContracts] CHECK CONSTRAINT [PlayerContracts_Roles_Id_fk]
GO
ALTER TABLE [dbo].[PlayerContracts]  WITH CHECK ADD  CONSTRAINT [PlayerContracts_Teams_Id_fk] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[PlayerContracts] CHECK CONSTRAINT [PlayerContracts_Teams_Id_fk]
GO
USE [master]
GO
